.judul {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.card {
  color: #198754;
  background-color: #198754;
  border: 10 solid #198754ba;
  border-radius: 1rem;
  border-radius: 0.4375rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image {
  padding-top: 4rem;
  width: 10rem;
}
.btn-success {
  border: 10 solid #0ea315ba;
  border-radius: 0.4375rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-danger {
  border: 10 solid #dc3545;
  border-radius: 0.4375rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-info {
  border: 10 solid #0d6efd;
  border-radius: 0.4375rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-warning {
  border: 10 solid #ffc107;
  border-radius: 0.4375rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: right;
}

@media (max-width: 767.98px) {
  .card {
    width: 410px;
    height: 300px;

    color: #198754;
    background-color: #198754;
    border: 10 solid #198754ba;
    border-radius: 1rem;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .image {
    width: 10rem;
    padding-top: 0%;
    padding-left: 3rem;
  }
}
